@{
    ViewBag.Title = "Services";
}
<div class="container wrapper bg-white">
    <h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        @ViewBag.Title
    </h1>



    <section>
        <div class="padding10">
            <a href="http://passportindia.gov.in/AppOnlineProject/welcomeLink" target="_blank">
                <div class="tile double bg-white ol-blue" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/PassportLogo.jpg" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">Passport Services</span>
                    </div>
                </div>
            </a>
            <a class="shadow" href="https://www.irctc.co.in/eticketing/loginHome.jsf" target="_blank">
                <div class="tile double bg-white ol-blue shadow" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/IRCTC_Logo.png" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">Online Train Ticket Booking</span>
                    </div>
                </div>
            </a>
            
            <a href="http://www.busindia.com/bus/" target="_blank">
                <div class="tile double bg-white" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/busindialogo.png" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">Online Bus Ticket Booking</span>
                    </div>
                </div>
            </a><a href="http://www.pleasantrip.com/" target="_blank">
                <div class="tile double bg-white" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/plesanlogo.jpg" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">Online Flight Ticket Booking</span>
                    </div>
                </div>
            </a>
            <a href="https://www.tnebnet.org/awp/login" target="_blank">
                <div class="tile quadro bg-blue" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/tneblogo.png" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">TNEB Online Payment</span>
                    </div>
                </div>
            </a>
            <a href="http://edistrict.tn.gov.in:8080/eservicesnew/home.html" target="_blank">
                <div class="tile quadro bg-white" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/pattachittalogo.jpg" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">Patta Chitta</span>
                    </div>
                </div>
            </a>
            <a href="http://tnvelaivaaippu.gov.in/Empower/" target="_blank">
                <div class="tile quadro bg-white" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/tnvelailogo.png" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">TN Velaivaippu</span>
                    </div>
                </div>
            </a>
            <a href="http://www.tnpsc.gov.in/" target="_blank">
                <div class="tile quadro bg-white" style="border: 1px solid #ccc;">
                    <div class="tile-content image">

                        <img src="~/Images/TNPSClogo.jpg" />
                    </div>
                    <div class="brand bg-darkCobalt">
                        <span class="name">TNPSC</span>
                    </div>
                </div>
            </a>

        </div>
    </section>
</div>
