@{
    ViewBag.Title = "About Us";
}
<div class="container" style="padding: 40px 10px">
<h1>About</h1>
<div class="span12 padding10">
                    <p>Rengammal Consultancy is an indigenous Manpower company and Placement Agency organized to provide manpower consultancy services to the engineering and technical Industries Worldwide</p>
                </div>
    </div>
