@{
    ViewBag.Title = "About Us";
}
<div class="container wrapper bg-white">
<h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        @ViewBag.Title
    </h1>
<div class="span12 padding10">
                    <p>Rengammal Consultancy is an indigenous Manpower company and Placement Agency organized to provide manpower consultancy services to the engineering and technical Industries Worldwide</p>
                </div>
    </div>
