@{
    ViewBag.Title = "Contact";
}
<div class="container wrapper bg-white">
<h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        @ViewBag.Title
    </h1>



<section class="contact">
    <div class="span5 padding10">                                       
                    <address>
                        <strong>Rengammal Consultancy Services</strong><br />
                        Madurai - Rameshwaram road<br>
                        Near Poorvika mobiles,
                        Paramakudi - 623707<br />
                        <abbr title="Phone">P:</abbr> (91) 4564-230111 
                        <abbr title="Mobile">M:</abbr> (91) 9842-245807
                    </address>

                    <address>
                        <strong>Vaidhyanathan</strong><br>
                        <a href="mailto:#">admin@rengammalconsultancy.com</a>
                    </address>
                </div>
</section>
    </div>