@{
    ViewBag.Title = "Contact";
}
<div class="container" style="padding: 40px 10px">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>



<section class="contact">
    <div class="span5 padding10">                                       
                    <address>
                        <strong>Rengammal Consultancy Services</strong><br />
                        Madurai - Rameshwaram road<br>
                        Near Poorvika mobiles,
                        Paramakudi - 623707<br />
                        <abbr title="Phone">P:</abbr> (91) 4564-230111 
                        <abbr title="Mobile">M:</abbr> (91) 9842-245807
                    </address>

                    <address>
                        <strong>Vaidhyanathan</strong><br>
                        <a href="mailto:#">admin@rengammalconsultancy.com</a>
                    </address>
                </div>
</section>
    </div>