@{
    ViewBag.Title = "Home";
}

<div style="background: url(images/banner2.jpg) top left no-repeat; background-size: cover; height: 300px">
    <div class="container grid" style="padding: 20px 20px">
        <div class="row">
            <div class="span12">
                <div class="span8 no-tablet no-phone">
                    <h1 class="fg-white">Rengammal</h1>
                    <h2 class="fg-white">Consultancy<br />
                        Student Visa for London. Labour Visa for UAE
                    </h2>

                    <a href="#"
                        class="place-left button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange" style="margin-top: 10px">
                        <h3 style="margin: 10px 40px">Register <span class="icon-enter on-right"></span></h3>
                    </a>
                </div>

                <div class="span4">
                    <fieldset>
                        <legend class="fg-white">Search your Job</legend>
                        <label class="fg-white">Keywords, Skills, designation</label>
                        <div class="input-control text">
                            <input type="text" value="" placeholder="Enter your keywords, skills, designation" />
                            <button class="btn-clear"></button>
                        </div>
                        <label class="fg-white">Location</label>
                        <div class="input-control text">
                            <input type="text" value="" placeholder="Enter the Location" />
                            <button class="btn-clear"></button>
                        </div>
                        <div class="row"></div>
                        <div class="place-right">
                            <button class="image-button primary fg-white image-right">Search<i class="icon-search on-right bg-cobalt fg-white"></i></button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container">
        <div class="grid padding30 text-center">
            <div class="tiles row no-margin">
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>RCS</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>ABC</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>BBC</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>FB</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>Yahoo</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>RCS</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>RCS</h3>
                </div>
                <div class="tile">
                    <h1><i class="icon-rocket"></i></h1>
                    <h3>RCS</h3>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="grid no-margin">
            <div class="row">
                <div class="span12">
                    <div class="span4 no-tablet-portrait no-phone">
                        <div class="notice marker-on-right padding20 text-center" style="height: 200px">
                            <h1 class="fg-white" style="font-size: 120px; line-height: 80px; margin-bottom: 30px">5</h1>
                            <p class="subheader-secondary fg-white">simple steps for you to get a Job</p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="notice marker-on-bottom no-desktop padding10 text-center ">
                            <div class="row">
                                <p class="subheader-secondary fg-white no-margin">5 simple steps for you to get a Job</p>
                            </div>
                        </div>
                        <ol class="styled">
                            <li style="width: 90%"><strong>Register</strong> with RCS</li>
                            <li style="width: 90%"><strong>Upload</strong> your Profile</li>
                            <li style="width: 90%"><strong>Search</strong> for Job matching your profile</li>
                            <li style="width: 90%"><strong>Apply Job</strong> for the companies</li>
                            <li style="width: 90%"><strong>Get your Job done</strong></li>
                        </ol>
                    </div>
                    <div class="span2">
                        <div class="span4 padding20 text-center notice" style="height: 200px">
                            <fieldset>
                                <legend>Job Seekers</legend>
                                <a href="#"
                                    class="place-left button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange" style="margin-top: 10px">
                                    <h3 style="margin: 10px 25px">Post Resume <span class="icon-enter on-right"></span></h3>
                                </a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-steel">
    <div class="container" style="padding: 10px 0;">
        <div class="grid no-margin">
            <div class="row no-margin">

                <div class="span6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                </div>

                <div>
                    <blockquote class="place-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark">
    <div class="container" style="padding: 10px 0;">

        <div class="grid no-margin">
            <div class="row no-margin">
                <div class="span1 padding10">
                    <img src="@Url.Content("~/images/RC_logo_png_50x50.png")" alt="RCS logo" class="cycle bd-white shadow">
                </div>
                <div class="span7 padding10">
                    <h3 class="fg-white">About RCS</h3>
                    <p class="fg-white">Rengammal Consultancy is an indigenous Manpower company and Placement Agency organized to provide manpower consultancy services to the engineering and technical Industries Worldwide</p>
                </div>
                <div class="span5 padding10 fg-white">
                    <h3 class="fg-white">Contact RCS</h3>                    
                    <address>
                        <strong>Rengammal Consultancy Services</strong><br />
                        Madurai - Rameshwaram road<br>
                        Near Poorvika mobiles,
                        Paramakudi - 623707<br />
                        <abbr title="Phone">P:</abbr> (91) 4564-230111 
                        <abbr title="Mobile">M:</abbr> (91) 9842-245807
                    </address>

                    <address>
                        <strong>Vaidhyanathan</strong><br>
                        <a href="mailto:support@rengammalconsultancy.com">support@rengammalconsultancy.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="container tertiary-text bg-dark fg-white" style="padding: 10px">
        2014,© to  <a href="mailto:admin@rengammalconsultancy.com" class="fg-yellow">Rengammal Consultancy Services</a>
    </div>
</div>



